<p>There are only two options for the <strong>Key Redirect</strong> module, which are conigurable from the <a href="/index.php?q=admin/settings/key_redirect">administration page</a>.</p>

<ol>
  <li><strong>Key Expiration Time:</strong> The number of minutes after which a key will be deleted. Keep in mind that the deletion process is run by <em>hook_cron</em>. This value mostly prevents keys from being inadvertently deleted before they can be used.</li>
  <li><strong>Key Length:</strong> The length of the key you wish to generate, which will be returned in the response as a URL, i.e. <em>http://yoursite.com/krd/Kf7BkdEGUckueiHwQzDHm95YDv9swU</em>. Longer keys are less susceptible to exploitation. The default is 30.</li>
</ol>