<p>The <strong>Key Redirect</strong> module is a plugin for the <a href="http://drupal.org/project/services" target="_blank">Services</a> module, which provides a method for external applications to automatically redirect users to a URL on your Drupal site, and log them in at the same time.</p>

<p>The use case for which this module was written was a Java application which shares authentication sources with a Drupal site (and therefore knows the user's username and plaintext password), which needed a method of sending users to a private web page without requiring the user to re-authenticate to the site. Think of it as a poor-man's single-sign-on solution.</p>

<p>Key Redirect requires the Services module to be enabled, and supports whatever Services authentication types and server types you wish to enable. See the <a href="http://drupal.org/handbook/modules/services" target="_blank">Services Handbook</a> for information on accessing Services with your external application.</p>

<p>The Key Redirect only provides a single method, <em>keyredirect.getKey</em>, which takes three required parameters:</p>

<ul>
  <li><strong>user:</strong> The Drupal username string.</li>
  <li><strong>password:</strong> The Drupal password string in cleartext.</li>
  <li><strong>path:</strong> The path you want the user to be redirected to. While technically this can be an external link, you'll most likely be using relative paths here, without the preceeding slash, like <em>forums/themis</em>.</li>
</ul>

<p>If the user authenticates successfully <em>keyredirect.getKey</em> returns a string with a URL:<br/>
  <em>http://yoursite.com/krd/Kf7BkdEGUckueiHwQzDHm95YDv9swU</em><br/>
  When the user visits that string, they will be logged in to Drupal (if they are not already), and redirected to the path you passed to the method.</p>
  
<p>If the user fails to authenticate, an appropriate RPC error is returned, along with a HTTP 401 response. Note that we're also supporting the <a href="http://drupal.org/project/ldap_integration">LDAP Integration</a> module's er ... funky ... approach to authentication, and it's auth hooks will be tried first.</p>